// Стили для карточек генерируемых скриптом. Данные подтягиваются из db.json

.card {
    @include texGyreHeros(bold, 16px);
    @media (max-width: 1270px) {
        &:nth-last-child(-n+3) {
            display: none;
        }
    }
    flex-direction: column;
    justify-content: space-between;
    height: 430px;
    width: 365px;
    background-color: white;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    margin: {
        top: 40px;
        left: 20px;
        right: 20px;
    }
    @media (max-width: 760px) {
        margin: 40px 0 0 0;
    }

    img {
        margin-bottom: 10px;
        @media (max-width: 760px) {
            width: 100%;
        }
    }

    p:last-of-type {
        font: inherit;
        color: $btn_color;
    }

    ul {
        font-size: 13px;
        height: 42px;
        width: 100%;
        margin-top: 10px;
        padding-left: 0;
        border-top: 2px solid #e6e6e6;
        justify-content: space-evenly;
    }

    li:first-child {
        margin-left: 45px;
        @media (max-width: 760px) {
            margin-left: 10px;
        }
    }
    li:last-child {
        margin-right: 45px;
        @media (max-width: 760px) {
            margin-right: 10px;
        }
    }
}
